{% extends 'base.html' %}
{% block title %}
VSP
{% endblock title %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/watch.css') }}" />
{% endblock link %}

{% block script %}
<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-app.js";
    import { getDatabase, ref, onValue } from "https://www.gstatic.com/firebasejs/9.14.0/firebase-database.js";

    const firebaseConfig = {
        apiKey: "AIzaSyCV5Ve41CZI5b2j9dexFqQjwH9pdvur5KY",
        authDomain: "vsp-web.firebaseapp.com",
        databaseURL: "https://vsp-web-default-rtdb.firebaseio.com",
        projectId: "vsp-web",
        storageBucket: "vsp-web.appspot.com",
        messagingSenderId: "76950228191",
        appId: "1:76950228191:web:c83ad1d27d8c333961ed6a",
        measurementId: "G-FH6MYLQEC4"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const db = getDatabase();
    const dbRef = ref(db, '/search/');
    var uKey = document.getElementById("key").innerText;
    if (uKey.includes(' ')) {
        uKey = uKey.replace(' ', '-');
    }
    else {
        uKey = '-' + uKey;
    }
    // console.log(uKey.replace(' ', '-'));
    const vid = document.getElementById("uVideo");
    const tube = document.getElementById("uTube");
    var utitle = document.getElementById("utitle");
    var udesc = document.getElementById("udesc");
    var url = null;
    var vidLink;
    var tubeLink;

    onValue(dbRef, (snapshot) => {
        snapshot.forEach(video => {
            // console.log(video.key + " = " + uKey);
            // console.log(video.key.trim() == uKey.trim());
            if (video.key.trim() == uKey.trim()) {
                video.forEach(content => {
                    // console.log(content.val());
                    if (content.key == "title") {
                        utitle.innerText = content.val();
                        document.title = "VSP | " + content.val();
                    }
                    if (content.key == "desc") {
                        udesc.innerText = content.val();
                    }
                    if (content.key == "fileURL") {
                        url = content.val();
                        if (url.includes("+")) {
                            url = url.replace("+", "");
                        }
                        if (url.includes("-")) {
                            vidLink = "https://firebasestorage.googleapis.com/v0/b/vsp-web.appspot.com/o/videos%2F" + url + ".mp4?alt=media";
                            vid.setAttribute("src", vidLink);
                        }
                        else {
                            tube.style.display = "block";
                            vid.style.display = "none";
                            tubeLink = "https://www.youtube.com/embed/" + url + "?autoplay=1&rel=0";
                            tube.setAttribute("src", tubeLink);
                        }
                    }
                });
            }
        });
    });
</script>
<script type="text/javascript">
    // Share operations
    const share = document.getElementById('share');
    share.onclick = (() => {
        var url = window.location.href;
        const link = document.getElementById("link");

        url = url.replace("+", "");
        url = url.replace("#", "");
        link.value = url;
    });

    function Copy() {
        // Get the text field
        var copyText = document.getElementById("link");
        var copied = document.getElementById("copied");

        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);
        copied.style.display = "unset";

        // Alert the copied text
        // alert("Copied the text: " + copyText.value);
    }
</script>
{% endblock script %}

{% block body %}
<div id="key" style="display: none;">{{my_key}}</div>
<div class="container play-container mt-3">
    <div class="row">
        <div class="play-video">
            <video controls autoplay style="display: block" id="uVideo" src="" type="video/mp4">
            </video>
            <iframe width="100%" height="auto" id="uTube" src="" style="display: none" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <h3 class="title" id="utitle"></h3>
    <div class="button">
        <!-- <button class="Overview"><a href="">Overview</a></button> -->
        <!-- <button class="s2"><a href="">Q&A</a></button> -->
        <!-- <button class="Share"><a href=""></a><a href="">Share</a></button> -->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"
            data-placement="top" title="Share the link!" id="share">
            Share
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Share the link</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" style="width: 100%" id="link">
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                        <div id="copied" style="color: brown; display: none;">Url Copied!</div>
                        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top"
                            title="Copy it!" onclick="Copy()">
                            Copy
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="description">
        <div class="desc" id="udesc"></div>
    </div>
</div>
{% endblock body %}